.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons-outlined.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons-outlined.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons-outlined.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons-outlined.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons-outlined.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

span.size-48 {
  font-size: 48px;
  font-variation-settings: 'OPSZ' 48;
  color: white;
}

/* FONT AWESOME ICON */
.fab {
  color: #ffffff;
}


:root {
  --background-color: #000;
  --primary-color: #000;
  --highlight-color: #ff0095;
  --font-text: 'Outfit', sans-serif;
}

* {
  box-sizing: border-box;
  font-size: auto;
}

html {
  scroll-behavior: smooth;
}

head {
  display: none;
}

body {
  font-family: var(--font-text);
  background-color: var(--background-color);
  margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6 * {
  color: white;
  text-align: center;
  letter-spacing: 0.1em;
}

p {
  color: #ffffff;
  text-wrap: balance;
}

.dot {
  position: relative;
}

.dot::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: var(--highlight-color);
  border-radius: 50%;
  bottom: 20%;
  margin-left: 1px
}


/*  -----------------------------------
    |             M E N U             |
    -----------------------------------  */


.menu {
  font-size: 0.9em;
  background-color: #333;
  padding: 0px 200px;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  position: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  padding: 12px 20px;
}


.navbar #logo {
  color: #ffffff;
}

.navbar #logo:hover {
  color: var(--highlight-color);
}

.navbar a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  border: 5px;
  border-radius: 15px;
  letter-spacing: 2px;
  transition: 0s;
  position: relative;
}

.navbar a:hover {
  color: var(--highlight-color);
}

.navbar a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: currentColor;
}

.navbar a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -2px;
  height: 2px;
  background-color: currentColor;
}


.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
  /* Espaciado entre elementos */
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
}



/* .menu {
  overflow: hidden;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.10);
  font-size: 15px;
}

.menu a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
  margin: 5px;
  padding: 5px 16px;
  border: 5px;
  border-radius: 15px;
  letter-spacing: 2px;
  transition: 0.4s;
}

.menu a:hover {
  background-color: var(--highlight-color);
  color: #000;
  padding: 5px 13px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 2px;
}

menu .logo {
  text-align: left;
} */

/*  ---------------------------------------
    |             I N I C I O             |
    ---------------------------------------  */

/* .home {
  display: block;
  color: #ffffff;
  font-family: var(--font-text);
  font-size: 1rem;
  letter-spacing: 0.2em;
  background-color: rgb(255, 157, 173);
}

.title-home {}


.welcome {
  position: center;
  font-size: 20px;
  line-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 15px;
}

.name-surname {
  position: center;
  font-size: 50px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 20px;
}

.developer {
  position: center;
  font-size: 50px;
  line-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 25px;
}

.fullstack {
  position: center;
  font-size: 50px;
  line-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 30px;
} */

/* General configuration for dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content label {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-button {
  display: block;
  color: white;
  /* Color letras del menú */
  margin: 5px;
  text-decoration: none;
  list-style-type: none;
  padding: 5px 16px;
  border: 5px;
  border-radius: 15px;
  letter-spacing: 2px;
  transition: 0.4s;
}

.dropdown-button:hover {
  background-color: #ccc;
}

/* BUTTON */
.button-home {
  background-color: #ffffff;
  border: none;
  /*color: white;*/
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button-home:hover {
  background-color: var(--highlight-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.material-symbols-outlined {
  display: inline-block;
  color: #000;
  font-size: 24px;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1);
  opacity: 0;
  animation: ripple 1s linear forwards;
}

.button:hover .ripple {
  display: none;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}


/*  ------------------------------------
    |             H O M E              |
    ------------------------------------  */

.home {
  margin: 0;
  background-color: bisque;
  width: 100%;
  margin-top: 96px;
  margin-bottom: 50px;
}

.presentation {
  margin: 0;
  padding: 60px;
  /* background-color: #ff0095; */
  background-color: rgba(255, 0, 149, 0.8);
  box-shadow: 0 0 10px 5px rgba(255, 0, 149, 0.5),
    5px 5px 20px 10px rgba(255, 0, 149, 0.3),
    -5px -5px 30px 15px rgba(255, 0, 149, 0.1);
}

.presentation-titles {
  color: #ffffff;
  font-size: 1.9rem;
  letter-spacing: 0.2em;
  text-align: left;
  /* background-color: rgb(0, 255, 42); */
}

.name-title {}

.profession-title {}

.presentation img {
  height: 300px;
  width: auto;
  margin: 0 auto;
  object-fit: contain;
  /* border-radius: 100px; */
}

/* .technology {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 90px;
  margin-left: 230px;
  margin-right: 230px;
  background-color: rgb(0, 255, 0);
} */

.technology img {
  display: block;
  height: 40px;
  width: auto;
  margin: 0 auto;
  object-fit: contain;
}

.technology-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: pink; */
  color: #000000;
}

.technology-title {
  text-align: left;
}

.technology-name {
  display: block;
  text-align: center;
  font-family: var(--font-text);
  font-size: 1.0rem;
  letter-spacing: 0.1em;
  margin: 10px auto 0;
  color: #ffffff;
}

.technology ul {
  list-style-type: none;
  padding: 0;
}

.technology li {
  display: inline-block;
  margin-right: 25px;
}

/*  ----------------------------------------------
    |             P O R T F O L I O              |
    ----------------------------------------------  */

.material-symbols-outlined {
  vertical-align: middle;
  color: #ffffff;
}

.title-portfolio {
  display: block;
  position: absolute;
  z-index: 1;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  top: 0px;
  /* Agrega esto para posicionar el título principal en la parte superior */
  left: 50%;
  /* Agrega esto para centrar el título principal horizontalmente */
  transform: translateX(-50%);
  /* Agrega esto para centrar el título principal horizontalmente */
}

.portfolio {
  display: grid;
  position: relative;
  /* SACARLO SIN QUE PIERDA LO DEMAS */
  background-image: linear-gradient(45deg, #7c9885, #b5b682);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  padding: 80px 24px 24px;
  font-family: var(--font-text);
  font-size: 1.0rem;
  line-height: 1.6rem;
  letter-spacing: 0.02em;

  min-height: 100vh;
  max-width: 1200px;
  margin-top: 100px;
  margin-inline: auto;
  padding-inline: 100px;

}

.portfolio a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
}

.project {
  --img-scale: 1.001;
  --title-color: #ffffff;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background-color: #2d2d2d;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.project figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.project img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.project-body h2 {
  color: #ffffff;
  font-family: var(--font-text);
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  transition: color 0.3s ease-out;
  margin: 30px 0 15px 0;
}

.project-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-wrap: balance;
  margin-left: 12px;
  margin-right: 12px;
}

.project-body p {
  color: #ffffff;
}

.made-with {
  text-decoration: underline;
}

.project-icons {
  font-size: 30px;
  color: #ffffff;
  padding: 20px;
}

.etiqueta-icon {
  display: block;
  font-family: var(--font-text);
  font-size: 0.8rem;
  margin: 15px 10px;
  letter-spacing: 0.1em;
}

.button-card {
  display: inline-block;
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  margin-left: 15px;
  margin-bottom: 40px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button-card:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* using the has() relational pseudo selector to update our custom properties */
.project:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28296e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

/* MEDIA QUERY */

@media screen and (max-width: 960px) {
  .project {
    container: card/inline-size;
  }

  .project-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .project {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }

  .project-body {
    padding-left: 0;
  }

  .project figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .project figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/*  -----------------------------
    |    CONTACT & NEWSLETTER   |
    -----------------------------  */

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 30px 24px;
  width: 380px;

  /* Gradient */
  background: linear-gradient(#15172b, #15172b) padding-box,
    linear-gradient(128deg, transparent 61%, #e81cff) border-box;
  border: 2px solid transparent;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 6s ease-in infinite;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.input-container {
  height: 53px;
  position: relative;
  width: 100%;
}

.ic1,
.ic2 {
  margin-top: 30px;
  margin-right: 5px;
}

.ic3 {
  margin-top: 30px;
}

.ic4 {
  margin-top: 30px;
  height: 150px;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 15px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.iLabel {
  color: #65657b;
  font-family: var(--font-text);
  top: 20px;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
}

.input:focus~.cut {
  transform: translateY(8px);
}

.input:focus~.iLabel {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:focus)~.iLabel {
  color: #808097;
}

.input:focus~.iLabel {
  color: #ccc;
}

.submit {
  background-color: #08d;
  color: #eee;
  font-family: var(--font-text);
  font-size: 18px;
  height: 50px;
  margin-top: 30px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  border: 0;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* agrega sombra */
  transition: background-color 0.3s, box-shadow 0.3s;
}

.submit:hover {
  color: #000;
  background-color: var(--highlight-color);
  /* cambia el color de fondo al pasar el cursor por encima */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  /* cambia la sombra al pasar el cursor por encima */
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


/*  ---------------------------------------
    |             F O O T E R             |
    ---------------------------------------  */

.footer {
  background-color: rgba(255, 255, 255, 0.10);
  padding: 0px 0 20px;
  margin-top: 40px;
}

.footer-container {
  color: white;
  width: 1280px;
  margin: 0 auto;
}

.footer-columns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px 0;
}

.footer-column {
  flex: 1;
  max-width: 300px;
}

.footer-column a span {
  color: white;
}

.footer-column a:hover span {
  color: var(--highlight-color);
}

.footer-column h3 {
  margin-bottom: 15px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 5px;
}

.footer-column li a {
  text-decoration: none;
}

.footer-column li a:hover {
  text-decoration: underline;
}

.social {
  text-align: center;
}

.social a {
  font-size: 40px;
  text-decoration: none;
}

.contact {
  text-align: center;
  text-decoration: none;
}

.footer-bottom-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #ecf0f1;
}

.footer-bottom-row p {
  margin: 0;
}

.footer-bottom-row a {
  color: #ecf0f1;
  text-decoration: none;
}

.footer-bottom-row a:hover {
  text-decoration: underline;
}

/*  --------------------
    |    MEDIA QUERY   |
    -------------------- */

/* Media query para dispositivos móviles (máximo 480px de ancho) */
@media screen and (max-width: 480px) {
  /* Estilos específicos para dispositivos móviles */

}

/* Media query para tablets (máximo 768px de ancho) */
@media screen and (max-width: 768px) {
  /* Estilos específicos para tablets */
}

/* Media query para ordenadores de escritorio y portátiles (máximo 1024px de ancho) */
@media screen and (max-width: 1024px) {
  /* Estilos específicos para ordenadores de escritorio y portátiles */
}

/* Media query para pantallas de alta resolución (máximo 1440px de ancho) */
@media screen and (max-width: 1440px) {
  /* Estilos específicos para pantallas de alta resolución */
}

/* Media query para pantallas muy grandes (máximo 1920px de ancho) */
@media screen and (max-width: 1920px) {
  /* Estilos específicos para pantallas muy grandes */
}






/*

.footer {
  background-color: rgb(255, 255, 255, 0.10);
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 40px;
}

.footer .footer-container {
  color: var(--background-color);
  width: 1280px;
  margin: 0 auto;
}

.footer .footer-container h3 {
  color: white;
}

.footer .footer-container .social {
  text-align: center;
}

.footer .footer-container .social a:hover path {
  fill: var(--highlight-color);
}

.footer .footer-container .social a:hover .material-symbols-outlined {
  color: var(--highlight-color);
}


.footer .footer-container .support {
  text-align: right;
}

.footer .footer-container .support h3 {
  text-align: right;
}

*/